*{
    text-align: center;
    background-color: #15aca4;
}

.top{
    margin-bottom: 20px;
    font-size: 4rem;
    color: #2d665e;
    font-style: italic;
    text-shadow: 2px 2px rgb(243, 255, 136);
}

.dice{
    display: inline-block;
    margin: 1rem;
    font-size: 3rem;
    color: #88fdec;
    border: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 3px;
}

.img-style{
    height: 4em;
    width: 4em;
}
