*{
    text-align: center;
    background-color: #15aca4;
}

.top{
    margin-bottom: 20px;
    font-size: 4rem;
    color: #2d665e;
    font-style: italic;
    text-shadow: 2px 2px rgb(243, 255, 136);
}

.dice{
    display: inline-block;
    margin: 1rem;
    font-size: 3rem;
    color: #88fdec;
    border: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 3px;
}

.img-style{
    height: 4em;
    width: 4em;
}

.btn {
    margin:auto 25px auto 5px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: white;
    font-weight: 400;
    border: 1.7px solid white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn:hover{
    cursor:pointer;
    text-decoration: none;
    border-color: #2d665e;
    color: #2d665e;
  }

  table{
        border: 3px solid #343a40;
        border-radius: 5px;
      margin: 20px auto;
  }
  table tr td,table tr th{
      margin: 0;
      min-width: 65px;
      border-radius: 2px;
      color: #343a40;
      padding: 3px;
      border: 1px solid #343a40;
  }